{% extends 'base.html.twig' %}

{% block title %}Editar Articulo{% endblock %}

{% block body %}
    <h2>Editar los datos sobre el articulo "{{ articulo.titulo }}"</h2>

    {{ include('articulo/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="link" href="{{ path('articulo_index') }}"> Volver a la lista de articulos</a>

    {{ include('articulo/_delete_form.html.twig') }}
{% endblock %}
